body {
  background-color: #11325B;
  color: white;
  font-family: Arial;
  text-align: center;
}

h1 {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
  color: #2C5072;
  font-size: 80px;
  font-family: 'Sigmar One', cursive;
}

.equals {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
  color: #2C5072;
  font-size: 80px;
  font-family: 'Sigmar One', cursive;
}


input[type=text],
select {
  width: 100%;
  max-width: 400px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 20px;
  color: white;
  display: inline-block;
  border: 3px solid black;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
}

input[type=number]:focus,
select:focus {
  background-color: #11325B;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]
 {
  width: 100%;
  max-width: 400px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  padding: 12px 20px;
  margin: 8px 0;
  color: white;
  display: inline-block;
  border: 3px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 30px;
}


div {
  font-family: 'Sigmar One', cursive;
  color: white;
  font-size: 20px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

Button:focus {
  outline: none !important;
  box-shadow: none !important;
}

hr {
  border-top: 1px solid white;
}

.shorter-hr {
  width: 70%;
}

.things-txt {
  color: black !important;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
}

::placeholder {
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.black-txt {
  color: white !important;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: smaller;
}

label {
  border: black solid 2px;
  background-color: #2C5072;
  width: 100%;
  max-width: 450px;
}

.draggable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.draggable input {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
}


/* mobile */

@media only screen and (max-width: 980px) {
  h1 {
    font-size: 45px;
  }

  button {
    font-size: 15px !important;
  }

  div {
    font-size: 20spx;
  }

}